isra/src/ile/backend/app/resources/XSD_Schema/trustZones/trust-zone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2022 IriusRisk SL. All rights reserved
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="trustZoneGlobalType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="uuid" use="required"/>
                <xs:attribute type="xs:string" name="ref" use="required"/>
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="xs:string" name="desc"/>
                <xs:attribute type="xs:string" name="trustRating"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>