isra/src/ile/backend/app/resources/XSD_Schema/components/tests/source-library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="sourceLibraryType">
        <xs:sequence>
            <xs:element type="xs:string" name="output"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="filename" use="required"/>
        <xs:attribute type="xs:string" name="args" use="required"/>
        <xs:attribute type="xs:string" name="type"/>
        <xs:attribute type="xs:string" name="result"/>
        <xs:attribute type="xs:boolean" name="enabled" use="required"/>
        <xs:attribute type="xs:dateTime" name="timestamp"/>
    </xs:complexType>
</xs:schema>