isra/src/ile/backend/app/resources/XSD_Schema/components/tests/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2022 IriusRisk SL. All rights reserved
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="source.xsd"/>
    <xs:include schemaLocation="../countermeasures/references.xsd"/>
    <xs:include schemaLocation="../../customFields/customFields.xsd"/>
    <xs:complexType name="testType">
        <xs:all>
            <xs:element type="xs:string" name="steps"/>
            <xs:element type="xs:string" name="notes"/>
            <xs:element type="referencesType" name="references"/>
            <xs:element type="sourceType" name="source"/>
            <xs:element type="customFieldsType" name="customFields" minOccurs="0"/>
        </xs:all>
        <xs:attribute type="xs:string" name="expiryDate" use="required"/>
        <xs:attribute type="xs:string" name="expiryPeriod" use="required"/>
    </xs:complexType>
</xs:schema>