isra/src/ile/backend/app/resources/XSD_Schema/components/useCases/threats/weakness-ref.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2022 IriusRisk SL. All rights reserved
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="countermeasures-ref.xsd"/>
    <xs:complexType name="weaknessRefType">
        <xs:sequence>
            <xs:element type="countermeasuresRefType" name="countermeasures"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="ref" use="required"/>
    </xs:complexType>
</xs:schema>