isra/src/ile/backend/app/resources/XSD_Schema/rules/rule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2022 IriusRisk SL. All rights reserved
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="conditions.xsd"/>
    <xs:include schemaLocation="actions.xsd"/>
    <xs:complexType name="ruleType">
        <xs:sequence>
            <xs:element type="conditionsType" name="conditions"/>
            <xs:element type="actionsType" name="actions"/>
            <xs:element type="xs:string" name="droolContent" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="content" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="module" use="required"/>
        <xs:attribute type="xs:boolean" name="generatedByGui" use="optional"/>
        <xs:attribute type="xs:boolean" name="matchesAllConditions" use="optional"/>
    </xs:complexType>
</xs:schema>