isra/src/resources/XSD_Schema/components/countermeasures/countermeasure-template.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2022 IriusRisk SL. All rights reserved
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="implementations.xsd"/>
    <xs:include schemaLocation="references.xsd"/>
    <xs:include schemaLocation="standards.xsd"/>
    <xs:include schemaLocation="../../customFields/customFields.xsd"/>
    <xs:include schemaLocation="../tests/test.xsd"/>
    <xs:complexType name="countermeasureTemplateType">
        <xs:all>
            <xs:element type="xs:string" name="desc"/>
            <xs:element type="implementationsType" name="implementations"/>
            <xs:element type="referencesType" name="references"/>
            <xs:element type="standardsType" name="standards"/>
            <xs:element type="customFieldsType" name="customFields"/>
            <xs:element type="testType" name="test"/>
        </xs:all>
        <xs:attribute type="xs:string" name="ref" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="issueId" use="required"/>
        <xs:attribute type="xs:string" name="issueLink" use="optional"/>
        <xs:attribute type="xs:string" name="platform" use="optional"/>
        <xs:attribute type="xs:integer" name="cost" use="required"/>
        <xs:attribute type="xs:integer" name="risk" use="required"/>
        <xs:attribute type="xs:string" name="state" use="required"/>
        <xs:attribute type="xs:string" name="owner" use="required"/>
        <xs:attribute type="xs:string" name="library" use="required"/>
        <xs:attribute type="xs:string" name="source" use="required"/>
        <xs:attribute type="xs:boolean" name="edited" use="optional"/>
        <xs:attribute type="xs:string" name="stateChangeSource" use="optional"/>
        <xs:attribute type="xs:string" name="priority" use="optional"/>
    </xs:complexType>
</xs:schema>