isra/src/resources/XSD_Schema/assets/asset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2022 IriusRisk SL. All rights reserved
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="classification.xsd"/>
    <xs:complexType name="assetType">
        <xs:sequence>
            <xs:element type="classificationType" name="classification" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <!-- TODO: the type attribute keeps in the xsd to keep the backward compatibility with older versions until next major version -->
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="desc" use="required"/>
        <xs:attribute type="xs:string" name="identifier" use="optional"/>
    </xs:complexType>
</xs:schema>