isra/src/ile/backend/app/resources/XSD_Schema/questionnairebuilder/answer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2025 IriusRisk SL. All rights reserved
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="actions.xsd"/>
    <xs:complexType name="answerType">
        <xs:sequence>
            <xs:element type="actionsType" name="actions" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="required"/>
        <xs:attribute type="xs:string" name="text" use="required"/>
        <xs:attribute type="xs:string" name="description"/>
    </xs:complexType>
</xs:schema>