isra/src/ile/backend/app/resources/XSD_Schema/questionnairebuilder/condition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2025 IriusRisk SL. All rights reserved
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="conditionType">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="value" use="required"/>
    </xs:complexType>
</xs:schema>