isra/src/ile/backend/app/resources/XSD_Schema/questionnairebuilder/questionnaire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2025 IriusRisk SL. All rights reserved
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:include schemaLocation="tabs.xsd"/>
    <xs:complexType name="questionnaireType">
        <xs:sequence>
            <xs:element type="tabsType" name="tabs"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element type="questionnaireType" name="questionnaire">
        <xs:unique name="uniqueTabId">
            <xs:selector xpath=".//tab"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueTabName">
            <xs:selector xpath=".//tab"/>
            <xs:field xpath="@name"/>
        </xs:unique>
        <xs:unique name="uniqueTabOrder">
            <xs:selector xpath=".//tab"/>
            <xs:field xpath="@order"/>
        </xs:unique>
        <xs:unique name="uniqueQuestionId">
            <xs:selector xpath=".//question"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueAnswerId">
            <xs:selector xpath=".//answer"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>
</xs:schema>
