isra/src/ile/backend/app/resources/XSD_Schema/questionnairebuilder/question.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2025 IriusRisk SL. All rights reserved
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="answers.xsd"/>
    <xs:include schemaLocation="conditions.xsd"/>
    <xs:complexType name="questionType">
        <xs:sequence>
            <xs:element type="answersType" name="answers" minOccurs="0">
                <xs:unique name="uniqueAnswerTextWithinQuestion">
                    <xs:selector xpath=".//answer"/>
                    <xs:field xpath="@text"/>
                </xs:unique>
            </xs:element>
            <xs:element type="conditionsType" name="conditions" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="required"/>
        <xs:attribute type="xs:string" name="text" use="required"/>
        <xs:attribute type="xs:string" name="description"/>
        <xs:attribute type="xs:integer" name="order" use="required"/>
        <xs:attribute type="xs:boolean" name="allowsMultipleAnswers" use="required"/>
        <xs:attribute type="xs:boolean" name="required" use="required"/>
    </xs:complexType>
</xs:schema>