isra/src/ile/backend/app/resources/XSD_Schema/questionnairebuilder/tab.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2025 IriusRisk SL. All rights reserved
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="questions.xsd"/>
    <xs:complexType name="tabType">
        <xs:sequence>
            <xs:element type="questionsType" name="questions" minOccurs="0">
                <xs:unique name="uniqueQuestionOrderWithinTab">
                    <xs:selector xpath=".//question"/>
                    <xs:field xpath="@order"/>
                </xs:unique>
                <xs:unique name="uniqueQuestionTextWithinTab">
                    <xs:selector xpath=".//question"/>
                    <xs:field xpath="@text"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:integer" name="order" use="required"/>
    </xs:complexType>
</xs:schema>