isra/src/ile/backend/app/resources/XSD_Schema/threadFixScans/threadfix-scan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="threadFixScanControls/threadfix-scan-controls.xsd"/>
    <xs:complexType name="threadFixScanType">
        <xs:all>
            <xs:element type="threadFixScanControlsType" minOccurs="0" name="threadFixScanControls"/>
        </xs:all>
        <xs:attribute type="xs:string" name="ref" use="required"/>
        <xs:attribute type="xs:integer" name="scanId" use="optional"/>
        <xs:attribute type="xs:dateTime" name="uploadDate" use="required"/>
        <xs:attribute type="xs:string" name="status" use="required"/>
        <xs:attribute type="xs:string" name="checkStatusUrl" use="required"/>
    </xs:complexType>
</xs:schema>