isra/src/resources/XSD_Schema/components/tests/test-library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2022 IriusRisk SL. All rights reserved
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="source-library.xsd"/>
    <xs:include schemaLocation="../countermeasures/references.xsd"/>
    <xs:include schemaLocation="../../customFields/customFields-library.xsd"/>
    <xs:complexType name="testLibraryType">
        <xs:all>
            <xs:element type="xs:string" name="steps"/>
            <xs:element type="xs:string" name="notes"/>
            <xs:element type="referencesType" name="references"/>
            <xs:element type="sourceLibraryType" name="source" minOccurs="0"/>
            <xs:element type="customFieldsLibraryType" name="customFields" minOccurs="0"/>
        </xs:all>
        <xs:attribute type="xs:string" name="uuid" use="optional"/>
        <xs:attribute type="xs:string" name="expiryDate" use="required"/>
        <xs:attribute type="xs:string" name="expiryPeriod" use="required"/>
    </xs:complexType>
</xs:schema>
