isra/src/ile/backend/app/resources/XSD_Schema/components/countermeasures/standard-library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2024 IriusRisk SL. All rights reserved
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="standardLibraryType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="uuid" use="optional"/>
                <xs:attribute type="xs:string" name="ref" use="required"/>
                <xs:attribute type="xs:string" name="supportedStandardRef" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>