isra/src/ile/backend/app/resources/XSD_Schema/settings/settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="setting.xsd"/>
    <xs:include schemaLocation="issueTrackers/issueTrackers.xsd"/>
    <xs:complexType name="settingsType">
        <xs:sequence>
            <xs:element type="settingType" name="setting" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="issueTrackersType" name="issueTrackers" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>